@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ----GENERALS---- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #2F2F2F;
}

img {
    display: inline-block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

/* ----WRAPPER---- */

.wrapper {
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    padding: 60px 55px 55px 55px;
    width: 520px;
    border-radius: 1px;
    background-color: #FCEC51;
}

.wrapp-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 60px;
    font-weight: 500;
}

.wrapp-title::after {
    display: inline-block;
    content: '';
    width: 25px;
    height: 20px;
    cursor: pointer;
    background-image: url("../images/2561505_x_icon.svg");
    background-repeat: no-repeat;
    background-size: 25px;
}

.wrapp-bottom {
    display: flex;
    justify-content: end;
}

.wrapp-bottom {
    position: absolute;
    top: 550px;
    right: 140px;
}

.wrapp-btn {
    padding: 0;
    color: #665e14;
    font-size: 18px;
    font-weight: normal;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.wrapp-btn:hover {
    opacity: 0.8;
}

.wrapp-btn:active {
    color: #46400d;
}

.wrapp-btn + .wrapp-btn {
    margin-left: 50px;
}

/* ----FORM---- */

.form-wrapp {
    position: relative;
    width: 540px;
    margin-bottom: 25px;
    padding: 70px 40px 30px 40px;
    border-radius: 1px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 32%) -17px 20px 22px -7px;
}

.form-user-img {
    position: absolute;
    top: -30px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-image: url("../images/julian-wa.jpg");
    background-size: contain;
}

.wrapp-form-input {
    width: 100%;
    margin-bottom: 30px;
    padding: 9px 0;
    outline: none;
    border: none;
    border-bottom: 2px solid #F0F0F0;
    transition: 1.5s ease;
}

.wrapp-form-input:focus {
    border-bottom: 2px solid #FCEC51;
}

.wrapp-form-input::placeholder {
    font-weight: 500;
    font-family: 'Roboto';
}

.wrapp-form-label {
    display: flex;
    margin-bottom: 5px;
    color: #B3B3B3;
    font-size: 14px;
    font-weight: 600;
}

.last-wrapp-form {
    display: flex;

}

.last-wrapp-box {
    width: 100%;
}

.acc-message {
    width: 100%;
    padding: 10px 0;
    height: 100px;
    color: #857e7e;
    outline: none;
    font-weight: 500;
    border: none;
    border-bottom: 2px solid #F0F0F0;
}
